.catalog
  color: $dark
  &__title
    text-align: left
    position: relative
    padding-left: 150px
    margin-bottom: 66px
    &::before
      content: ''
      position: absolute
      top: 50%
      left: 0
      transform: translateY(-50%)
      width: 100px
      height: 1px
      background: $dark
  &__row
    display: flex
    align-items: center
    margin-bottom: 20px
  &__category-name
    padding-right: 12px
  &__link
    display: inline-block
    padding-right: 40px
    position: relative
    &::before
      content: ''
      width: 22px
      height: 17px
      border-radius: 50%
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
      border: 1px solid $dark
      transition: .2s
    &::after
      content: url(../img/catalog-link-arrow.svg)
      position: absolute
      top: 50%
      right: 10px
      transform: translateY(-45%)
      transition: .2s
    &:hover
      &::before
        width: 20px
        height: 20px
        transition: .2s
      &::after
        right: 5px
        transition: .2s
  &__slider-wrapper
    margin-top: 20px
  &__slider
    &.no-slider
      & .swiper-wrapper
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 55px
